services:
  postgres:
    image: postgres:latest
    container_name: postgres_company_db
    restart: unless-stopped
    env_file:
      - ../.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./setup:/docker-entrypoint-initdb.d
      - ./queries:/queries
      - ./logs:/logs
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: